__pycache__/
*.pyc
.pytest_cache/
.DS_Store
reports/
allure-results/
allure-report/
features/web/forgot_password.feature
features/web/signup.feature
pages/web/forgot_password_page.py
pages/web/signup_page.py
tests/web/test_forgot_password.py
tests/web/test_signup.py
