__pycache__/
*.pyc
.pytest_cache/
.DS_Store
reports/
allure-results/
allure-report/
features/forgot_password.feature
features/signup.feature
pages/forgot_password_page.py
pages/signup_page.py
tests/test_forgot_password.py
tests/test_signup.py
