name: Playwright Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: playwright install
      - run: pytest --env=qa --alluredir=reports/allure-results
      - uses: simple-elf/allure-report-action@v1.7
        with:
          allure_results: reports/allure-results
